{% extends "todo_base.html" %}

{% block title %}
  Todo List
{% endblock %}

{% block script %}
<script>
  $(function() {
    var todayLabel = $('h1 span');
    todayLabel.text(
        ['(', TODAY.getMonth() + 1, '/', TODAY.getDate(), ')'].join(''));

    {% for todo in object_list %}
      {% if todo.last_date %}
        setLastDate('{{ todo.pk }}',
            new Date({{ todo.last_date.year }},
                     {{ todo.last_date.month }} - 1,
                     {{ todo.last_date.day }}));
      {% else %}
        setLastDate('{{ todo.pk }}', null);
      {% endif %}
    {% endfor %}
  });

  function openYesterday() {
    var yesterday = new Date(TODAY.getTime());
    yesterday.setDate(yesterday.getDate() - 1);
    window.open(['/todo/log',
                 yesterday.getFullYear(),
                 yesterday.getMonth() + 1,
                 yesterday.getDate()].join('/'),
		 '_self');
  };
</script>

{% load staticfiles %}
<script src="{% static 'todo/check.js' %}"></script>

{% endblock %}

{% block header %}
  <h1>Today <span></span></h1>
  <a href="#popupMenu" data-rel="popup" data-icon='edit' class="ui-btn-right ">Edit</a>
  <div data-role="popup" id="popupMenu" data-theme="b">
    <ul data-role="listview" data-inset="true" style="min-width:210px;">
      <li><a onclick="openYesterday()" href="#" class="ui-btn ui-btn-icon-left ui-icon-clock" ref=external>Amend History</a></li>
    </ul>
  </div>
{% endblock %}

{% block content %}
  <ul data-role="listview" data-count-theme="b" data-inset="true">
  {% for todo in object_list %}
    <li><a id="btn-{{ todo.pk }}" onclick="toggle({{ todo.pk }})" href=# ref=external>
      {{ todo }}
      <span id="delta-{{ todo.pk }}" class="ui-li-count"></span>
    </a></li>
  {% endfor %}
  </ul>
  <div data-role="popup" id="errorMessage" data-theme="b" data-overlay-theme="a">
    <p>This is a completely basic popup, no options set.</p>
  </div>
{% endblock %}
