{% extends "todo_base.html" %}

{% block title %}
  Todo List
{% endblock %}

{% block script %}
<script>
  $(function() {
    {% for todo in object_list %}
      {% if todo.last_date %}
        setLastDate('{{ todo.pk }}',
            new Date({{ todo.last_date.year }},
                     {{ todo.last_date.month }} - 1,
                     {{ todo.last_date.day }}));
      {% else %}
        setLastDate('{{ todo.pk }}', null);
      {% endif %}
    {% endfor %}
  });
</script>

{% load staticfiles %}
<script src="{% static 'todo/check.js' %}"></script>

{% endblock %}

{% block header %}
  <h1>Todo List</h1>
{% endblock %}

{% block content %}
  <ul data-role="listview" data-count-theme="b" data-inset="true">
  {% for todo in object_list %}
    <li><a id="btn-{{ todo.pk }}" onclick="toggle({{ todo.pk }})" href=# ref=external>
      {{ todo }}
      <span id="delta-{{ todo.pk }}" class="ui-li-count"></span>
    </a></li>
  {% endfor %}
  </ul>
  <div data-role="popup" id="errorMessage" data-theme="b" data-overlay-theme="a">
    <p>This is a completely basic popup, no options set.</p>
  </div>
{% endblock %}
