{% extends "todo_base.html" %}

{% block script %}
  <link rel="stylesheet" href="http://necolas.github.io/css3-social-signin-buttons/auth-buttons.css" />
{% endblock %}

{% load i18n %}
{% load account socialaccount %}

{% block header %}
  <h1>{% trans "Checklist - Sign In" %}</h1>
{% endblock %}

{% block content %}
  {% get_providers as socialaccount_providers %}
  <div style="text-align: center;">
    <p>Please sign in with your Facebook account.</p>
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </div>
{% endblock %}

{% block footer %}
  <h2>What is easy to do is easy not to do</h2>
{% endblock %}
