{% extends "base.html" %}

{% block title %}
Slow GTD
{% endblock %}

{% block header %}
<h1>Slow GTD</h1>
{% endblock %}

{% block content %}
<a href="{% url 'stuff_list' %}" class="ui-btn ui-btn-icon-left ui-icon-plus">Stuff</a>
<a href="{% url 'is_actionable' %}" class="ui-btn ui-btn-icon-left ui-icon-arrow-d">Review Stuff</a>
<a href="#" class="ui-btn ui-btn-icon-left ui-icon-minus">Next Action</a>
<a href="#" class="ui-btn ui-btn-icon-left ui-icon-arrow-u">Review Projects</a>
<a href="#" class="ui-btn ui-btn-icon-left ui-icon-calendar">Calendar</a>
<a href="#" class="ui-btn ui-btn-icon-left ui-icon-clock">Waiting for</a>
<a href="#" class="ui-btn ui-btn-icon-left ui-icon-forward">Someday / Maybe</a>
{% endblock %}

{% block footer %}
footer
{% endblock %}
