{% extends "base.html" %}

{% block title %}
title
{% endblock %}

{% block header %}
header
{% endblock %}

{% block content %}
<button class="ui-btn ui-btn-icon-left ui-icon-plus">Stuff</button>
<button class="ui-btn ui-btn-icon-left ui-icon-arrow-d">Review Stuff</button>
<button class="ui-btn ui-btn-icon-left ui-icon-minus">Next Action</button>
<button class="ui-btn ui-btn-icon-left ui-icon-arrow-u">Review Projects</button>
<button class="ui-btn ui-btn-icon-left ui-icon-calendar">Calendar</button>
<button class="ui-btn ui-btn-icon-left ui-icon-clock">Waiting for</button>
<button class="ui-btn ui-btn-icon-left ui-icon-forward">Someday / Maybe</button>
{% endblock %}

{% block footer %}
footer
{% endblock %}
