{% extends "things/base.html" %}

{% block title %}
Stuff
{% endblock %}

{% block header %}
<h1>Stuff</h1>
<a href="{% url 'main' %}" data-icon='home' class='ui-btn-right'>Main</a>
{% endblock %}

{% block content %}
<form action='{% url "stuff_list" %}' method='post' data-ajax="false">
	{% csrf_token %}
<ul data-role="listview" data-inset="true">
  <li class="ui-field-contain">

	{{ form.non_field_errors }}
	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}
	{% for field in form.visible_fields %}
		{{ field.errors }}
		{{ field }}
	{% endfor %}


    <button class="ui-shadow ui-btn ui-corner-all" type="submit">Add</button>
  </li>

{% for stuff in object_list %}
  <li data-icon="delete"><a href="{% url 'stuff_delete' stuff.pk %}">{{ stuff }}</a></li>
{% endfor %}
</ul>
</form>
{% endblock %}

{% block footer %}
{% endblock %}
