{% extends "base.html" %}

{% block title %}
Stuff
{% endblock %}

{% block header %}
<h1>Stuff</h1>
<a href="{% url 'main' %}" data-icon='home' class='ui-btn-right'>Main</a>
{% endblock %}

{% block content %}
<form action='{% url "stuff_list" %}' method='post'>{% csrf_token %}
<ul data-role="listview" data-inset="true">
  <li class="ui-field-contain">
    <input maxlength="128" name="text" type="text" placeholder="New stuff" value="" />
    <button class="ui-shadow ui-btn ui-corner-all" type="submit">Add</button>
  </li>

{% for stuff in object_list %}
  <li>{{ stuff }}</li>
{% endfor %}
</ul>
</form>
{% endblock %}

{% block footer %}
{% endblock %}
