{% extends "base.html" %}

{% block title %}
Edit Text
{% endblock %}

{% block header %}
<h1>Edit Text</h1>
<a href="{% url 'main' %}" data-icon='home' class='ui-btn-right'>Main</a>
{% endblock %}

{% block content %}
<form action='{% url "text_update" object.pk %}' method="post">
	{% csrf_token %}
	{{ form.non_field_errors }}
	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}
	{% for field in form.visible_fields %}
		{{ field.errors }}
		{{ field }}
	{% endfor %}
	<button class="ui-shadow ui-btn ui-corner-all" type="submit">Update</button>
</form>
{% endblock %}

{% block footer %}
{% endblock %}
